$primary : #08C559;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin : 0px !important;
    padding: 0px !important;
    overflow-y:hidden ;
    overflow-x: hidden;
}
.login {
    .banner {
        background-color: #fff;
        height: 100vh;

            .line {
                position: absolute;
                width: 450px;
                z-index: 6;
            }
           .title {
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 1.5s;
               z-index: 7;
               color: #fff;
               margin-top: 20px;
               font-size: 30px !important;
               font-weight: bold;
               letter-spacing: 5px;
               margin-right: 218px;
           }
           .sub-title {
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 1.5s;
               color : #fff;
               z-index: 7;
               margin-left: -100px;
               font-size: 14px;
           }

            .card-login.muncul {
                transform: scale(1);
                transition: 1.4s;
            }

            // .card-register.muncul {
            //     transform: scale(1);
            //     transition: 1.4s;
            // }

           .card-register {
               z-index: 10;
               padding: 40px 40px;
               background-color: #fff;
               border-radius: 15px;
               height: 450px;
               width: 350px;
               font-size: 12px;
               .form-control {
                   border-radius: 6px;
               }
               .form-label {
                   color: #858585;
                   font-size: 14px;
               }
               .forgetBtn {
                color: #3F62FF;
                text-decoration: none;
               }
               .noAkun {
                   .daftarBtn {
                       color: #3F62FF;
                       text-decoration: none;
                   }
               }
               .btn-save {
                   background-color: $primary !important;
                   color: white;
                   width: 100%;
               }
           
       }
           .card-login {
            transform: scale(0);
               z-index: 10;
               padding: 40px 40px;
               background-color: #fff;
               border-radius: 15px;
               height: 350px;
               width: 350px;
               font-size: 12px;
               .form-control {
                   border-radius: 6px;
               }
               .form-label {
                   color: #858585;
                   font-size: 14px;
               }
               .forgetBtn {
                color: #3F62FF;
                text-decoration: none;
               }
               .noAkun {
                   .daftarBtn {
                       color: #3F62FF;
                       text-decoration: none;
                   }
               }
               .btn-save {
                   background-color: $primary !important;
                   color: white;
                   width: 100%;
               }
           
       }
       .content-banner {
        background-color: $primary;
        height: 100vh;
        .title-banner {
            color: #fff;
            font-size: 40px;
            font-weight: bold !important;
            letter-spacing: 3px;
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 1.5s;
            
        }
        @keyframes fadeInOpacity {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .subtitle-banner{
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 1.5s;
            color: #fff !important;
            letter-spacing: 2px;
        }
        .image-banner {
            img {
                width: 210px;
            }

            .image-pedestal.muncul {
                transform: translateY(0px)
            }
            .image-pedestal {
                z-index: 1;
                width: 550px;
                position: relative;
                margin-top: 290px;
                transition: 1.5s;
                transform: translateY(200px);
            }
            
            .image-trash.muncul {
                transform: translatex(0px);
            }
            .image-trash {
                position: absolute;
                margin-top:100px;
                z-index: 2;
                transition: 1.5s;
                transform: translatex(500px);
            }

            .plant1 {
                width: 130px !important;
                position: absolute;
                right: 0px;
                animation-name: fadeInOpacity;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: 1.5s;
                // animation: pulse 3s infinite ease-in-out;
                
            }
            // @keyframes pulse {
            //     0% {
            //       z-index: 2;
            //       transform: translateY(50PX);
            //     }
              
            //     50% {
            //       z-index: 2;
            //       transform: translateY(100PX);
            //     }
            //     100% {
            //       z-index: 2;
            //       transform: translateY(100PX);
            //     }
            //     0% {
            //         z-index: 2;
            //         transform: translateY(50PX);
            //     }
            //   }


            .plant2 {
                width: 100px !important;
                position: absolute;
                margin-top: -100px;
                margin-left: -42px !important;
                animation-name: fadeInOpacity;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: 1.5s;
            }

            .image-people.muncul {
                transform: translatex(0px);
            }
            .image-people {
                position: absolute;
                margin-left: 20px;
                margin-top: 22px;
                z-index: 3;
                transition: 1.5s;
                transform: translatex(600px);
            }
        }
       }
        
    }
}