@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap");
:root {
    --primary-color : #08C559;
    --text-color :#B0B0B0;
}
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background-image: linear-gradient(18deg, rgba(0,141,221,1), rgba(36,221,115,1));
    min-height: 100vh;
}
/* Paymennt */

.brand p {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}

.brand {
    background: white;
}
.brand span {
    color: var(--primary-color);
}

.title h3 {
    margin-top: 50px;
    color: #fff;
}

.total {
    color: black;

    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
   
}

.line {
    border: 1px solid #E5E5E5;
    width: 0;
    height: 300px;
}

.btn-pay {
    background: var(--primary-color) !important;
    border: none;
    padding: 10px 28px;
    display: block;
    width: 100%;
    /* font-weight: 500; */
    -webkit-box-shadow: 0px 0px 8px #00000065 !important;
          box-shadow: 0px 0px 8px #00000065 !important;
}
.btn-cancel {
    border: none;
    padding: 10px 28px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 8px #00000065 !important;
          box-shadow: 0px 0px 8px #00000065 !important;
}
.title p {
    color: #fff;
    font-weight: lighter;
}


/* End Payment */


/* start Success */


.img-success img {
    width: 250px;
}

.text-confirm {
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.section-success {
    height: 100vh;
}
.section-success .btn-pay {
    background: var(--primary-color) !important;
    border: none;
    padding: 10px 60px;
    font-weight: 500;
    -webkit-box-shadow: 0px 0px 8px #00000065 !important;
          box-shadow: 0px 0px 8px #00000065 !important;
}
/* End Success */

.btn-primary, .btn-primary.disabled {
    box-shadow: 0 2px 6px #80c99f;
    background-color: #08C559;
    border-color: #08C559; }
    .btn-primary:focus, .btn-primary.disabled:focus {
      background-color: #12a551 !important; }
      .btn-primary:focus:active, .btn-primary.disabled:focus:active {
        background-color: #12a551 !important; }
    .btn-primary:active, .btn-primary:hover, .btn-primary.disabled:active, .btn-primary.disabled:hover {
      background-color: #12a551 !important; }