$primary : #08C559;
$secondary : #FC544B;
$text : #A3AEA1;

.main-content {
    .card {
        border-radius: 20px;
    }
    .card-profil {

        .badge-paid {
            background-color: $primary;
            color: white;
            border-radius: 30px;
            font-size: 14px;
            font-weight: bolder;
            padding: 10px 40px;
            box-shadow: 0px 0px 10px rgba(8, 197, 89, 1) !important;
        }
        .img-profil {

            img {
                height: 200px;
            }
            
        }
        padding: 30px;
        .name {
            h4 {
                color: $primary;
            }
        }

        .kindTrash {
            h4 {
                color: $primary;
            }
            
        }
    }

    .card-invoice {
        
       
        padding: 20px 30px;

        .badge-paid{
            padding: 14px 40px;
            font-weight: bolder;
            padding: 12px 20px;
            box-shadow: 0px 0px 10px rgba(8, 197, 89, 1) !important;
        }

        .badge-unpaid{
            font-size: 14px;
            font-weight: bolder;
            padding: 12px 20px;
            box-shadow: 0px 0px 10px rgba(252, 84, 75, 1) !important;
        }

        
        

        .btn-more {
            border-radius: 30px;
            border: 2px solid $primary;
            color: $primary;
            margin-left: 20px;
            font-weight: bold;
            &:hover {
                background: $primary;
                color: white;
            }
        }

        .invoice-date {
            color: $text;
            font-size: 16px;
            font-weight: bold;
        }

        .invoice-price {
            font-size: 30px;
            color: $primary;
            font-weight: bold;
            font-weight: bold;
        }
    }
}